@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
  --color-primary: #0f1c5f;
  --color-secondary: #cf7690;
  --color-alter: #ebca55;
}
body{
  width: 100%;
  height: 100vh;
}
.transparent{
  background-color: rgba(255, 255, 255, .2);
}
.bg-primary{
  background-color: var(--color-primary);
}
.bg-secondary{
  background-color: var(--color-secondary);
}
.text-primary{
  color: var(--color-primary);
}
.text-secunday{
  color: var(--color-secondary)
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
}
.thumb{
  width: 100px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}